<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div id="app" class="todolist not-done">
            <div>
                <h1>Todos</h1>
                <div class="new-todo" ng-show="!singleTaskMode">
                    <input ng-model="taskName" type="text" class="form-control add-todo" placeholder="New todo" min="3" max="100" />
                    <span>
                        <button ng-click="createNewTask()" class="btn btn-success pull-left">Add Todo</button>
                    </span>
                </div>
                <a ng-show="singleTaskMode" class="btn btn-primary" href="#/tasks">Return</a>
                <div class="text-danger">{{error}}</div>
                <hr/>
                <ul id="sortable" class="list-unstyled">
                    <li ng-repeat="task in taskList track by $index" class="ui-state-default"
                     ng-click="goToTask(task.id)" style="cursor: pointer;">
                        <div ng-class="task.finished ? 'checked' : ''">
                            <label ng-click="taskFinished($event,task)" style="cursor: pointer;">{{task.name}}</label>
                            <span class="todo-buttons pull-right">
                                <button ng-click="deleteTask($event,task.id,$index)" class="btn">Delete</button>
                            </span>
                        </div>
                    </li>
                </ul>
                <div ng-show="!singleTaskMode" class="todo-footer">
                    <strong>
                        <span class="count-todos"></span>
                    </strong> Items Left to do: {{taskList|taskLeft}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
<style>
    body {
        background-color: #EEEEEE;
    }

    .todolist {
        background-color: #FFF;
        padding: 20px 20px 10px 20px;
        margin-top: 30px;
    }

    .todolist h1 {
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    .form-control {
        border-radius: 0;
    }

    .todolist li {
        height: 50px;
    }

    li.ui-state-default {
        background: #fff;
        border: none;
        border-bottom: 1px solid #ddd;
        line-height: 50px;
    }

    li.ui-state-default:last-child {
        border-bottom: none;
    }

    .todo-footer {
        background-color: #F4FCE8;
        margin: 0 -20px -10px -20px;
        padding: 10px 20px;
    }

    #done-items li {
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        text-decoration: line-through;
    }

    #done-items li:last-child {
        border-bottom: none;
    }

    .new-todo button {
        margin-top: 10px;
    }

    .checked label {
        text-decoration: line-through;
    }

    .new-todo {
        height: 100px;
    }

    .todo-buttons {
        height: 40px;
        /* margin-top: 10px; */
    }
</style>