body {
  background-color: #EEEEEE;
  padding: 20px;
}

.todolist {
  background-color: #FFF;
  padding: 20px 20px 10px 20px;
  margin-top: 30px;
}

.todolist h1 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.form-control {
  border-radius: 0;
}

.todolist li {
  height: 50px;
}

li.ui-state-default {
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  line-height: 50px;
}

li.ui-state-default:last-child {
  border-bottom: none;
}

.todo-footer {
  background-color: #F4FCE8;
  margin: 0 -20px -10px -20px;
  padding: 10px 20px;
}

#done-items li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: line-through;
}

#done-items li:last-child {
  border-bottom: none;
}

.new-todo button {
  margin-top: 10px;
}

.checked label {
  text-decoration: line-through;
}

.new-todo {
  height: 100px;
}

.todo-buttons {
  height: 40px;
  /* margin-top: 10px; */
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.taskName{
  cursor: pointer;
  margin-right: 20px;
}
.pull-right{
  float: right;
}